<section class="contact-section" id="contact">
    <div class="contact-section-text-area">
        <div class="contact-me">
            <p>{{'contact.title' | translate}}</p>
            <h1>{{'contact.header' | translate}}</h1>
        </div>
    
        <div class="text-field">
            <h3>{{'contact.subtitle' | translate}}</h3>
            <p>{{'contact.offer' | translate}}</p>
            <div class="text-field-offer">
                <span class="white-text">{{'contact.request_1' | translate}}</span>
                <span class="highlight-text"> {{'contact.request_2' | translate}}</span>
            </div>
 
        </div>
    </div>

    <div class="contact-form-area">
        <form class="contact-form">
            <div class="contact-form-row">
                <div class="contact-form-cell">                
                        <p class="input-title">{{'contact.form_name' | translate}}</p>
                        <input autocomplete="off" type="text" name="name" placeholder="{{'contact.placeholder_name' | translate}}" required [(ngModel)]="name" (blur)="validateName()" (focus)="hideFieldError('name')">   
                        <span class="input-error" *ngIf="showNameError">{{'contact.error_name' | translate}}</span>
                </div>            
            </div>
    
            <div class="contact-form-row">
                <div class="contact-form-cell">                
                        <p class="input-title">{{'contact.form_email' | translate}}</p>                              
                        <input autocomplete="off" type="email" name="email" placeholder="youremail@email.com" required [(ngModel)]="email" (blur)="validateEmail()" (focus)="hideFieldError('email')">
                        <span class="input-error" *ngIf="showEmailError">{{'contact.error_email' | translate}}</span>
                     
                </div>            
            </div>
    
            <div class="contact-form-row">
                <div class="contact-form-cell">
                        <p class="input-title">{{'contact.form_message' | translate}}</p>           
                        <textarea name="message" spellcheck="false" placeholder="{{'contact.placeholder_message' | translate}}" (focus)="hideFieldError('message')" (blur)="validateMessage()" (input)="onMessageInput($event)" [ngClass]="{'filled': isMessageValid()}"></textarea>
                        <span class="input-error" *ngIf="showMessageError">{{'contact.error_message' | translate}}</span>
                </div>            
            </div>
    
            <div class="checkbox-container">
                <label class="custom-checkbox">
                    <div>
                        <input type="checkbox" name="privacy" [(ngModel)]="privacyChecked" (change)="hideFieldError('privacy')">
                        <span class="checkmark"></span>
                        <div class="confirm-pp">
                            <span>{{'contact.confirm_pp1' | translate}}</span><span routerLink="/privacyPolicy" routerLinkActive="active" class="highlight-privacy-policy"> {{'contact.confirm_pp2' | translate}} </span><span> {{'contact.confirm_pp3' | translate}}</span>
                        </div>
                    </div>
                    <span class="input-error pp" *ngIf="showPrivacyError">{{'contact.error_pp' | translate}}</span>                
                </label>
                
            </div>
    
            <div class="send-message">
                <app-button label="Say Hello :-)" color="primary" [disableHover]="!allFieldsFilled" (click)="validateForm()"></app-button>
            </div>                   
        </form> 
    
        <div class="success-message-overlay">
            <div class="message-bg">
                <div class="success-message">
                    <span class="gratitude">{{'contact.success_msg1' | translate}}</span>
                    <span>{{'contact.success_msg2' | translate}}</span>
                </div>
            </div>            
        </div>       
        
        <div class="error-message-overlay">
            <div class="message-bg">
                <div class="error-message">
                    <span class="error">{{'contact.error_msg1' | translate}}</span>
                    <span>{{'contact.error_msg2' | translate}}</span>
                </div>
            </div>            
        </div>      
    </div>   
</section>
