<section class="about-me-section" id="about_me">
    <div class="about-me-image">
        <div class="background-overlay"></div>
        <img src="../../../assets/img/me2.png" alt="Personal image">
    </div>

    <div class="about-me-txt">
        <h3>{{'about.title' | translate}}</h3>
        <div class="card-item">
            <h1 class="card-header">{{'about.me' | translate}}</h1>
            <div class="card-content">
                <p>{{'about.motivation' | translate}}</p>    
                <div class="card-content-details">
                    <div class="card-content-details-item">
                        <img src="../../../assets/img/location-icon.png" alt="">
                        <span>{{'about.environment' | translate}}</span>
                    </div>
                    <div class="card-content-details-item">
                        <img src="../../../assets/img/mind-icon.png" alt="">
                        <span>{{'about.mindset' | translate}}</span>
                    </div>
                    <div class="card-content-details-item">
                        <img src="../../../assets/img/check-icon.png" alt="">
                        <span>{{'about.offer' | translate}}</span>
                    </div>                   
                </div>
            </div>        
        </div>      
    </div>
</section>

