<section class="skills-section" id="skills">  
    <div class="skills">        
        <div class="skill-set-info">  
            <h3>{{'skills.header' | translate}}</h3>             
            <div class="card-item">
                <h1 class="card-header">{{'skills.title' | translate}}</h1>
                <div class="card-content">
                    <p>{{'skills.description' | translate}}</p>    
                    <div class="card-content-lower-section">
                        <div class="card-content-lower-section-txt">                
                            <h2>
                                <span class="white-text">{{'skills.att_1' | translate}}</span>
                                <span class="highlight-text"> {{'skills.att_2' | translate}}</span>
                            </h2>    
                            <p>{{'skills.att_3' | translate}}</p>
                        </div>    
                        <app-button label="{{'skills.contact_btn' | translate}}" (click)="scrollToSection('contact')"></app-button>   
                    </div>                  
                </div>
            </div>
        </div>
    
        <div class="skillset">
            <div class="tech">
                <img src="../../../assets/img/icon_html.png" alt="">
                <span>HTML</span>
            </div>
            <div class="tech">
                <img src="../../../assets/img/icon_css.png" alt="">
                <span>CSS</span>
            </div>
            <div class="tech">
                <img src="../../../assets/img/icon_javascript.png" alt="">
                <span>JavaScript</span>
            </div>
            <div class="tech">
                <img src="../../../assets/img/icon_typescript.png" alt="">
                <span>TypeScript</span>
            </div>
            <div class="tech">
                <img src="../../../assets/img/icon_angular.png" alt="">
                <span>Angular</span>
            </div>
            <div class="tech">
                <img src="../../../assets/img/icon_firebase.png" alt="">
                <span>Firebase</span>
            </div>
            <div class="tech">
                <img src="../../../assets/img/icon_git.png" alt="">
                <span>GIT</span>
            </div>
            <div class="tech">
                <img src="../../../assets/img/icon_rest_api.png" alt="">
                <span>Rest-API</span>
            </div>
            <div class="tech">
                <img src="../../../assets/img/icon_scrum.png" alt="">
                <span>Scrum</span>
            </div>
            <div class="tech">
                <img src="../../../assets/img/icon_material_design.png" alt="">
                <span>Material Design</span>
            </div>
            <div class="tech">
                <img src="../../../assets/img/icon_mindset.png" alt="">
                <span class="growth-mindset">Growth mindset</span>
                <div class="speech-bubble">
                    <p>{{'skills.interested_in' | translate}}</p>
                    <div class="icons">
                        <div>
                            <img src="../../../assets/img/React.png" alt="React">
                            <p>React</p>
                        </div>
                        <div>
                            <img src="../../../assets/img/Vue Js.png" alt="Vue JS">
                            <p>Vue JS</p>
                        </div>                                           
                    </div>
                </div>
            </div>
        </div>
    </div>    
</section>