<section>
    <a class="back-to-start" routerLink="/"><img class="arrow-back" src="" alt="">Back</a>
    <h1>{{'legal_notice.title' | translate}}</h1>
    <p>Susanne Borchardt<br />Hans-Vilz-Weg 21<br />40489 D&uuml;sseldorf</p>
    <h2>{{'legal_notice.contact' | translate}}</h2>
    <p>{{'legal_notice.phone' | translate}}: +49 (0) 1577 2846562 <br />{{'legal_notice.mail' | translate}}: sambale.su&#64;gmail.com</p>
    <p>{{'legal_notice.source' | translate}}: <a href="https://www.e-recht24.de/impressum-generator.html" class="source">https://www.e-recht24.de</a></p>

    <p class="pp-info">{{'legal_notice.pp_link1' | translate}} <span routerLink="/privacyPolicy" class="highlight-privacy-policy"> {{'legal_notice.pp_link2' | translate}} </span> {{'legal_notice.pp_link3' | translate}} <span routerLink="/privacyPolicy" class="highlight-privacy-policy"> {{'legal_notice.pp_link4' | translate}}</span>.</p>
</section>  